*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(images/inspiring-view-sunrise-light.jpg);}
.card{
    background-color: #ffffff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 500px;
    text-align: center;
}

button{
    padding: 10px 20px;
    display: block;
    margin-top: 10px ;
    width: 100%;
}
#weather{ width: 100%;
            height: 2.5em;
            border-radius: 5px;
            border: none;
            text-align: center;
            box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
           
}




h1{
    padding: 10px;
}
#Check{
margin-top:20px ;
color: red ;

}
#weather:focus{
    outline: none;
    border: 2px solid #007bff;
}
